<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head lang="ja">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>鈴木さん</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
    </head>

    <body>
        <header layout:fragment="header">
            <nav class="navbar navbar-dark bg-dark mb-2">
                <a href="#" class="navbar-brand">鈴木さん</a>
            </nav>
        </header>

        <div layout:fragment="contents">

        </div>

        <footer layout:fragment="footer">
            <!-- Footer -->
            <footer class="page-footer font-small blue">

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2018 Copyright:
                    <a href="#"> SHO-GUN</a>
                </div>
                <!-- Copyright -->

            </footer>
            <!-- Footer -->
        </footer>

        <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
        <div layout:fragment="moreScripts" th:remove="tag"></div>
    </body>

</html>