<!--新規ページ作成用テンプレート-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head lang="ja">
    <link th:href="@{/css/matching.css}" rel="stylesheet"/>
</head>

<body>
<div layout:decorator="layout">
    <div layout:fragment="contents">
        <div class="container">
            <form id="matching-preference-form" action="" th:action="@{/connect}" method="post">
                <div class="row matching-type-container" style="padding-bottom: 100px">
                    <div class="mx-auto">
                        <div class="selection-group">
                            <div class="form-check form-check-inline">
                                <input id="mentor" class="form-check-input" type="radio" name="soudan" value="mentor">
                                <label for="mentor">
                                    <img src="https://kotobank.jp/image/dictionary/daijisen/media/104818L.jpg">
                                </label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input id="mentee" class="form-check-input" type="radio" name="soudan" value="mentee">
                                <label for="mentee">
                                    <img src="https://kotobank.jp/image/dictionary/daijisen/media/104806L.jpg">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row genre-container" style="padding-bottom: 100px">
                    <div class="mx-auto">
                        <div class="selection-group">
                            <div class="form-check form-check-inline">
                                <input id="love" type="checkbox" name="genre" value="love">
                                <label for="love">
                                    <img src="http://image.uranai.jp/package/LRP000000051/image/IZ0003052_s.jpg">
                                    <p class="text-center">恋愛</p>
                                </label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input id="ve" type="checkbox" name="genre" value="ve">
                                <label for="ve">
                                    <img src="http://image.uranai.jp/package/LRP000000051/image/IZ0003052_s.jpg">
                                    <p class="text-center">恋愛</p>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row submit-container">
                <div class="mx-auto">
                    <button id="send-button" class="btn btn-primary">始める</button>
                </div>
            </div>
        </div>
    </div>

    <div layout:fragment="moreScripts">
        <script th:src="@{/js/matching.js}"></script>
    </div>

</div>
</body>
</html>