<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head lang="ja">
    <link th:href="@{/css/conversation.css}" rel="stylesheet"/>
</head>

<body>
<div layout:decorator="layout">
    <div layout:fragment="contents">
        <div class="container">
            <form action="" th:action="@{/login}" method="post">
                <p>
                    ユーザーID:
                    <input type="text" name="email" />
                </p>
                <p>
                    パスワード:
                    <input type="password" name="password" />
                </p>
                <p>
                    <input type="submit" value="ログイン" />
                </p>
            </form>
            <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null">
                <span th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>