<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head lang="ja">

    <style th:inline="text">
        .jumbotron {background: url("[[@{/images/top.png}]]") center no-repeat;
            background-size: cover;
            height: 60vh;
        }
    </style>

</head>

<body>
<div layout:decorator="layout">
    <div layout:fragment="contents">
        <div class="jumbotron align-bottom">
            <div style="position:absolute; top:200px; left:200px;">
                <font class="text1" color="white" size="7">勇気をもらうか、与えるか。</font>
            </div>

            <div class="container">
                <div style="text-align: center;">
                    <a href="/matching" class="btn btn-primary" style="margin-top: 300px; width: 300px">始める</a>
                </div>
            </div>

        </div>


        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pb-3" style="text-align: center;">
                        <h1>
                            鈴木さんは悩んでいる人と悩みに答えてくれる人を</br>繋げるアプリケーションです。
                        </h1>
                    </div>

                    <div align=”left”>
                        <br>
                        <font class="text1" color="black" size="5">― 無料の通話サービス
                        </font>
                        <br>
                        <font class="text1" color="black" size="4">鈴木さんでは、繋がったユーザー間に無料の通話サービスを提供します。音声のみの通話となるため、普段はなかなか人に言えない悩みも安心して相談できます。　</font>
                    </div>

                    <div align=”left”>
                        <br>
                        <font class="text1" color="black" size="5">― 安心のレビュー評価</font>
                        <br>
                        <font class="text1" color="black" size="4">鈴木さんでは、通話終了後、相談に乗ってくれたユーザーに対してレビュー評価ができます。このレビュー評価は、ユーザーの信頼性を表すため、重要な指標となります。</font>
                        <br><br><br>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-bottom: 100px;">

                <div class="col-sm-6">
                    <div class="card" style="background-color:rgba(255,0,0,0.2);">
                        <div class="card-title">
                            <div style="text-align: center;"><font class="text1" color="black" size="5">今、悩んでいる人</font></div>
                        </div>
                        <div class="card-body">
                            <div><font class="test1" color="black" size="4">相談相手を見つけるのは中々難しいですよね。かと言って、自分の中に溜め込むのも良くありません。鈴木さんで、あなたの相談に乗ってくれる人を探し、一歩踏み出す勇気をもらいましょう。</font></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card" style="background-color:rgba(0,0,255,0.2);">
                        <div class="card-title">
                            <div style="text-align: center;"><font class="text1" color="black" size="5">悩みに答えてくれる人</font></div>
                        </div>
                        <div class="card-body">
                            <div><font class="test1" color="black" size="4">これまでのあなたの経験は、他の誰も持っていない、唯一無二のものです。そして今、その経験を聞きたい相談に乗ってほしいと願う人がいます。あなたの的確なアドバイスで、悩める人に勇気を与えましょう。</font></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

            <div style="text-align: center;">
                <a href="/matching" class="btn btn-primary" style="width: 300px">始める</a>
            </div>

        </div>

</div>
</div>
</body>
</html>